# ---- Base Nginx Image ----
FROM alpine:latest AS base

RUN apk add --no-cache --update nodejs npm
WORKDIR /usr/local/app
COPY . .

# ---- Install & Cache js Dependencies ----
FROM base AS dependencies
# install node packages
WORKDIR /usr/local/app
RUN npm install -g @angular/cli

RUN --mount=type=cache,target=/usr/src/app/.npm \
    npm set cache /usr/src/app/.npm && \
    npm install --no-audit --progress=false

FROM dependencies as builder
RUN ng build --output-path=build

# ---- Release Image with Builded angular app ----
FROM nginxinc/nginx-unprivileged:alpine
WORKDIR /home/app
COPY --chown=nginx:nginx --from=builder /usr/local/app/build /home/app 
