FROM alpine:latest AS base

RUN apk add --no-cache --update nodejs npm
WORKDIR /usr/local/app
COPY . .

# ---- Install & Cache js Dependencies ----
FROM base AS dependencies
WORKDIR /usr/local/app
RUN mkdir build
RUN npm install --production

FROM dependencies as builder
RUN npm run build

# ---- Release Image with Builded app ----
FROM alpine:latest AS release
RUN apk add --no-cache --update nodejs npm
WORKDIR /home/node
RUN apk add --no-cache shadow

RUN groupadd node && useradd -rm -d /home/node -s /bin/sh -g node -u 1001 node
COPY ./package.json /home/node/package.json

COPY --from=builder /usr/local/app/node_modules /home/node/node_modules
COPY --from=builder /usr/local/app/.next /home/node/.next
RUN chown -R node:node /home/node

USER node
CMD [ "npm", "start" ]
